
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4; 
}


form {
    max-width: 400px; 
    margin: 20px auto; 
    padding: 20px;
    background-color: #fff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

label {
    display: block; 
    margin-bottom: 10px; 
}


input {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 20px; 
}


button {
    background-color: #4caf50; 
    color: #fff; 
    padding: 10px 20px;
    border: none; 
    cursor: pointer; 
}


a {
    color: #0066cc;
    text-decoration: none; 
    display: block;
    margin-top: 10px; 
}

a:hover {
    text-decoration: underline; 
}
